/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $primary-color;
	font-family: 'Arvo', 'arial', serif;
	
}

h1 {
	font-size: $h1-size;
}

a {
	text-decoration: none;
	color: white;
}

a.active {
	opacity: .4;
}



/* 3. INDEX MOBILE  ================================= */

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: black;
	height: 120px;


	h1 {
		border-right: 1px solid orange;
		border-left: 1px solid orange;
		color: red;	
		padding-right:  20px;
		padding-left: 20px;
		padding-top: 15px;
		margin: auto;
		margin-bottom: 25px;
	}

	a {
		color: black;
	}

	li:hover {
		background: orange;
		padding: 5px;
		border-radius: 10px;
	}


	span {
		color: white;
	}

	ul  { 
		display: flex;
		background: white;
		padding: 5px;

	}

	li {
		margin: auto;
		margin-bottom: 5px;
		margin-top: 5px;
		border-left: 1px orange solid;	
		border-right: 1px orange solid;
		padding: 0 5px;
		padding: 5px;
		border-radius: 10px;
		background: transparent;
	}

}


.hero {
	background-image: url("/dist/img/bg-index.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	max-width: 100%;
    min-width: 300px;
    // height: 480px;

    .hero-statement {
    	background-color: rgba(0, 0, 0, 0.6);
   
    h1, p {
    	color: white;
    	text-align: center;
    	padding: 50px;
    	font-size: 2rem;
    }

    p {
    	margin-top: -100px;
    	color: red;
    	font-size: 60px;
    }

	}

}

.about-me {
	background: white;
	display: flex;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;

	h2 {
		font-size: 1.4rem;
		text-align: center;
		padding: 10px;
	}

	p {
		text-align: center;
		padding: 10px;
	}

	a {
		color: black;
		border-bottom: 1px orange solid;
	}

}


.space-stuff {

	h2 {
		font-size: 1.5rem;
		text-align: center;	
		background: black;
		color: white;
		padding: 20px;
		border-bottom: 1px orange solid;
		border-top: 1px orange solid;
	}

	span {
		font-weight: bold;
	}
	ul {
		display: flex;
		justify-content: center;	}

	li {
		padding: 20px;

	}	

	p {
		text-align: center;	
	}



	.nasa-link {
		color: red;
		font-size: 1rem;
		margin-top: 10px;
	}

}


.space-facts {
		margin-top: 20px;
		background: orange;
		width: 100%;


	.fun-facts {
		display: flex;
		margin: 10px;
	}
	
	.facts {
		margin: 10px;

	}


	h3 {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
	}

}


footer {
	text-align: center;
	color: white;
	background: black;
	padding: 10px;
	margin-top: -10px;

	p {
		margin-top: 10px;
	}
}

/* 3. RESOURCE PAGE  ================================= */

.resource-hero {
	background-image: url("/dist/img/bg-resource.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	max-width: 100%;
    min-width: 300px;
    height: 400px;

    h1 {
    	text-align: center;
    	padding-top: 30px;
    }


}



.image-box {

	h2 {
		text-align: center;
		padding: 10px;
		border-bottom: 1px orange solid;
	}


	  img {
    	min-width: 400px;
    	max-width: 400px;
    }

    p {
    	text-align: center;
    	margin: 10px;
    }
}




	h2 {
		text-align: left;
		color: white;
		background: black;
		padding: 10px;
		border-bottom: 1px solid red;
	}

	.btn {
		background: none;
		color: white;
		outline: none;
		// border: none;

	}

	

	.text-editors-menu.closed {
		display: none;
			
	}

	

	.text-editors-menu {
		text-align: center;
		font-size: 1.5rem;
		display: block;
		background: red;
		transition: all 2s ease;
		height: 100%;
		width: 100%;
		padding: 20px;
		animation: ani-menu 2s linear infinite;

		p {
			padding: 10px;
		}

		a {
		color: black;
	}
	
	}


	@keyframes ani-menu {
		from {
			transform: translateY(100px);
		}

		to {
			transform: translateY(0px);	
		}
	}







/* 4. WORK PAGE  ================================= */



















