/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $primary-color;
	
}

h1 {
	font-size: $h1-size;
}





/* 2. Content ================================= */



/* 3. Header  ================================= */

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: black;
	height: 70px;


	h1 {
		border-right: 1px solid orange;
		border-left: 1px solid orange;
		color: red;	
		padding-right:  20px;
		padding-left: 10px;
		padding-top: 15px;
		margin: auto;
	}


	ul  { 
		display: flex;

	}

	li {
		padding: 10px;
		margin: auto;
	}

}

















